@model IEnumerable<WebPageBookCate.Models.Book>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">

<form asp-action="Index" class="col-4 my-1 p-2">
    <div>
        <div class="my-1">
            <input type="text" name="searchString" placeholder="Title or Author" class="form-control-sm col-12" />
        </div>
        <input type="submit" value="Filter" class="btn btn-primary btn-sm" />
        <a asp-action="Index" class="btn btn-secondary btn-sm float-right">Clear</a>
    </div>
</form>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var book in Model)
            {

                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="@book.ImageUrl" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@book.Title</h5>
                            </div>
                        </div>
                        <!-- Product actions-->

                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-outline-dark mt-auto">View Book Detail<i class="bi bi-ticket-detailed"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>