<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

 
    <link rel="stylesheet" href="fonts1/icomoon/style.css">
    <link rel="stylesheet" href="css1/bootstrap.min.css">
    <link rel="stylesheet" href="css1/magnific-popup.css">
    <link rel="stylesheet" href="css1/jquery-ui.css">
    <link rel="stylesheet" href="css1/owl.carousel.min.css">
    <link rel="stylesheet" href="css1/owl.theme.default.min.css">
    <link rel="stylesheet" href="css1/bootstrap-datepicker.css">
    <link rel="stylesheet" href="fonts1/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css1/aos.css">

    <link rel="stylesheet" href="css1/style.css">
</head>
<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>        
        <div class="site-section bg-light">
            <div class="container">
                <div class="row align-items-stretch retro-layout-2">
                    <div class="col-md-4">
                        <a asp-controller="Catalog" asp-action="Details" asp-route-id=26 class="h-entry mb-30 v-height gradient" style="background-image: url('images/es.jpg');">

                            <div class="text">
                                <span class="date">July 19, 2019</span>
                            </div>
                        </a>
                        <a asp-controller="Catalog" asp-action="Details" asp-route-id=27 class="h-entry mb-30 v-height gradient" style="background-image: url('images/1984.jpg');">
                            <div class="text">
                                <span class="date">July 19, 2019</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a asp-controller="Catalog" asp-action="Details" asp-route-id=15 class="h-entry img-5 h-100 gradient" style="background-image: url('images/cyd.jpg');">
                            <div class="text">
                                <div class="post-categories mb-3"></div>
                                <span class="date">July 19, 2019</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a asp-controller="Catalog" asp-action="Details" asp-route-id=20 class="h-entry mb-30 v-height gradient" style="background-image: url('images/bagg.jpg');">

                            <div class="text">
                                <span class="date">July 19, 2019</span>
                            </div>
                        </a>
                        <a asp-controller="Catalog" asp-action="Details" asp-route-id=29 class="h-entry mb-30 v-height gradient" style="background-image: url('images/ada.jpg');">

                            <div class="text">
                                <span class="date">July 19, 2019</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

       
       

    </div>

    <script src="js1/jquery-3.3.1.min.js"></script>
    <script src="js1/jquery-migrate-3.0.1.min.js"></script>
    <script src="js1/jquery-ui.js"></script>
    <script src="js1/popper.min.js"></script>
    <script src="js1/bootstrap.min.js"></script>
    <script src="js1/owl.carousel.min.js"></script>
    <script src="js1/jquery.stellar.min.js"></script>
    <script src="js1/jquery.countdown.min.js"></script>
    <script src="js1/jquery.magnific-popup.min.js"></script>
    <script src="js1/bootstrap-datepicker.min.js"></script>
    <script src="js1/aos.js"></script>

    <script src="js1/main.js"></script>


</body>
</html>